body {
	background: #fff;
	
}

#wrapper{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
	z-index:10;
	

}
#body2{
	background:url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bg_wht.png) repeat;
	width:970px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
	
}

a { 
	text-decoration:none; 
}

a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #0099FF;
}
a:active {
	text-decoration: none;
	color: #999;
}

#logo{
	background: transparent no-repeat;  
}
		
#logo img{
	padding-top: 60px;
}

#topmenu{
	float: right;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background:url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bg_wht.png) repeat;
	width: 390px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: 0px;
	margin-bottom: 20px;
}

#submenu{
    padding-top:20px;
	padding-bottom: 10px;
	
}

#copyright{
	padding-top:20px;
	padding-bottom: 10px;

}

/*menu start >---------------------------------------*/

.menu { 
	height: 30px;
	display: block;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
/* width and height of the menu items */  
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 30px;
}

.menu ul li a {
/* must be postioned relative  */ 
	position: relative;
	display: block;
	width: 90px;
	height: 30px;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.menu ul li a span {
/* all layers will be absolute positioned */
	position: absolute;
	left: 0;
	width: 90px;
}

.menu ul li a span.out {
	top: 0px;
}

.menu ul li a span.over,
.menu ul li a span.bg {
/* hide */  
	top: -30px;
}

#menu2 {
	background: #0079c2 url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bg_menu.jpg) repeat-x;
	float: right;
	margin: 50px 0 35px 0;
	width: 650px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

	
#menu2 ul li a {
	color: #FFF;
}

#menu2 ul li a span.over {
	background: #10b4f0;
	color: #000;
}

/*menu ends >---------------------------------------*/

#left{
	width:230px;
	padding-top: 10px;
	background: transparent;
}

#nleft{
	width: 410px;
	padding-top: 10px;
	background: transparent;
}

#sleft{
	width: 230px;
	padding-top: 10px;
	background: transparent;
}

#pleft{
	width: 230px;
	padding-top: 10px;
	background: transparent;
}

#tleft{
	width: 960px;
	padding-top: 10px;
	background: transparent;
}

#center{
	background: transparent;
}
	
#ncenter{
	width: 280px;
	padding-top: 10px;
 	background: transparent;
}
#scenter{
	padding-top: 10px;
	background: transparent;
}
#scenter_img{
	padding-top: 5px;
	
}
#pcenter{
	padding-top: 10px;
 	background: transparent;
}

#imgcenter{
	padding: 0 10px 0 0 ;
}

#right{
	width:230px;
	padding-top:10px;
	margin:auto;
	background: transparent;
}

#sright{
	width:230px;
	padding-top:10px;
	margin:auto;
	background: transparent;
}

#pright{
	width:230px;
	padding-top:10px;
	margin:auto;
	background: transparent;
}
      	
.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }
						
.details{ margin:15px 20px; }

h3{ font:300 48px "Times New Roman", Times, serif; font-style:italic; color:#0079c2; }
		
h4{ font:300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:5%; letter-spacing:1px; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
		
p{ font:300 12px Arial, Helvetica, sans-serif; color:#aaa; text-shadow:1px 1px 0 rgb(0,0,0);}
		
p1{ font:300 14px Arial, Helvetica, sans-serif; line-height: 18px; color:#555; }
		
p2{ font:300 12px Arial, Helvetica, sans-serif; line-height: 14px; color:#555; }

p2a{ font:300 12px Arial, Helvetica, sans-serif; line-height: 14px; color:#fff; }

p3{ font:300 16px Arial, Helvetica, sans-serif; line-height: 14px; color: #0099FF; font-weight: bold; }

p4{ font:300 12px Arial, Helvetica, sans-serif; line-height: 14px; color:#999; }

p5{ font:300 12px Arial, Helvetica, sans-serif; line-height: 14px; color: #0099FF; }

#bienvenidos{
	background: #fff url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bck_c.gif) repeat-x bottom;
	height: 252px;

}

#text-b{
	margin: 10px;
}

#nosotros{
	background: #fff url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bck_c.gif) repeat-x bottom;
	width: 410px;
	height: 555px;

}

#servicios{
	background: #fff url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bck_c.gif) repeat-x bottom;
	width: 230px;
	height: 330px;

}

#productos{
	background: #fff url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bck_c.gif) repeat-x bottom;
	width: 240px;
	height: 545px;

}

#mediaspace{
    margin-top: 8px;
}

#slideshow {
	width: 230px;
	height: 338px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */
	position: relative;
}

#slideshow2 {
	width: 230px;
	height: 348px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */
	position: relative;
}
div#slideshow ul#nav {
	display: none;
	list-style: none;
	position: relative; top: 0px; z-index: 15;
}
	div#slideshow ul#nav li#prev {
		float: left; margin: 0 0 0 40px;
	}
	div#slideshow ul#nav li#next {
		float: right; margin: 0 50px 0 0;
	}
	div#slideshow ul#nav li a {
		display: block; width: 80px; height: 80px; text-indent: -9999px;
	}
		div#slideshow ul#nav li#prev a {
			background: url( /web/20190108130011im_/http://nazarenoservicesinc.com/url(../images/prev.png)); background-repeat:no-repeat;
		}
		div#slideshow ul#nav li#next a {
			background: url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/next.png);background-repeat:no-repeat;
		}

	div#slideshow ul#slides {
		list-style: none;
	}
		div#slideshow ul#slides li {
			margin: 0 0 20px 0;
		}

#footer1{
	border-top: 2px;
	border-top-color:#0099FF;

}		


#nfooter{
	background: none;
	height: 30px;
	width: 955px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#sfooter{
	background: none;
	height: 30px;
	width: 955px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#socials{
	width:auto;
	margin-top: 10px;
}

#acreditaciones{
	width: auto;
	margin-top: 5px;
}
/*Galeria Videos Tecnologia - - - - - - - - - - -- - - - - - - -*/

#holder {background:#eee; border:#aaa 1px dashed; padding:10px; margin:0 0 5px 0; clear:both;overflow:auto;}

#video-holder {width:853px; height:510px; display:block; border:#000 0px solid; float:center;}
ul1 {float:right;}
li1 {list-style-type:none; border:#888 0px solid; padding:4px; margin:0 0 4px 0; background:#eee; cursor:pointer;}

/* navigation */
	#nav {
		background:#ddd url(https://web.archive.org/web/20190108130011im_/http://static.flowplayer.org/img/global/gradient/h300_reverse.png);
		border-bottom:1px solid #CCCCCC;
		height:156px;	
		width:940px;
		padding-top:20px;
	}
	
	#nav ul {	
		width:840px;
		margin:0 auto;	
	}
	
	#nav li {	
		border-right:0px solid #ddd;
		float:left;
		padding-left:1px;
		width:175px;
		list-style-type:none;
		text-align:center;
		margin-top:0px;
	}
	
	#nav a {
	color:#333333;
	display:block;
	padding:17px;
	position:relative;
	word-spacing:-2px;
	font-size:11px;
	height:122px;
	text-decoration:none;
	}	
	
	#nav a.current {
		background:url(https://web.archive.org/web/20190108130011im_/http://static.flowplayer.org/tools/img/tabs/down_large.jpg);	
	}
	
	#nav img {
		background-color:#fff;
		border:1px solid #ccc;
		margin:3px 0 5px 15px;
		padding:4px;		
		display:block;
	}
	
	#nav strong {
		display:block;		
		font-size:13px;
	}
	
	/* panes */
	#panes {
		background:#fff url(/web/20190108130011im_/http://nazarenoservicesinc.com/images/bg1-tectaps.png) repeat-x scroll 0 0;
		width:940px;	
		height:250px;
		margin-bottom:-20px;
		padding-bottom:20px;
		
		/* must be relative so the individual panes can be absolutely positioned */
		position:relative;
	}
	
	/* crossfading effect needs absolute positioning from the elements */
	#panes div {
		display:none;		
		position:absolute;
		top:20px;
		left:20px;
		font-size:13px;
		color:#444;	
		width:800px; 
	}
	
	#panes img {
		float:left;
		margin-right:20px;		
	}
	
	#panes p1.more {
		color:#000;
		font-weight:bold;
		font-size:13px;
	}
	
	#panes h31 {
		margin:0 0 -5px 0;
		font:300 36px "Times New Roman", Times, serif; 
		font-style:italic; 
		color:#0079c2;
	}
	
	.overlay {
		display:none;
		width:500px;
		padding:20px;
		background-color:#ddd;
	}

/* black version of the overlay. simply uses a different background image */
	div.apple_overlay.black {
		background-image:url(https://web.archive.org/web/20190108130011im_/http://static.flowplayer.org/tools/img/overlay/transparent.png);		
		color:#fff;
	}
	
	div.apple_overlay h2 {
		margin:10px 0 -9px 0;
		font-weight:bold;
		font-size:14px;
	}
	
	div.black h2 {
		color:#fff;
	}
	
	#triggers {
		text-align:left;
	}
	
	#triggers img {
		cursor:pointer;
		
	}

/*
     FILE ARCHIVED ON 13:00:11 Jan 08, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:56:13 Nov 01, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.186
  captures_list: 609.982
  PetaboxLoader3.resolve: 875.051 (2)
  RedisCDXSource: 4.475
  esindex: 0.017
  load_resource: 1151.921
  PetaboxLoader3.datanode: 838.741 (5)
  CDXLines.iter: 15.52 (3)
  exclusion.robots: 0.202
  LoadShardBlock: 583.056 (3)
*/