/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(/web/20181208055304im_/http://nazarenoservicesinc.com/img/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(/web/20181208055304im_/http://nazarenoservicesinc.com/img/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/*
     FILE ARCHIVED ON 05:53:04 Dec 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:28:21 Oct 31, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.167
  captures_list: 160.754
  PetaboxLoader3.resolve: 131.495 (2)
  RedisCDXSource: 15.309
  esindex: 0.015
  load_resource: 346.016
  PetaboxLoader3.datanode: 234.989 (5)
  CDXLines.iter: 10.773 (3)
  exclusion.robots: 0.181
  LoadShardBlock: 131.844 (3)
*/