/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/

* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}

/*General Mosaic Styles*/
.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	width:230px;
	height:379px;
	margin:0px;
	background:#111 url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/progress.gif) no-repeat center center;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

.mosaic-block2 {
	float:left;
	position:relative;
	overflow:hidden;
	width:230px;
	height:170px;
	margin:5px 0 0 0;
	background:#111 url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/progress.gif) no-repeat center center;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}
	.mosaic-backdrop {
		display:none;
		position:absolute;
		top:0;
		height:100%;
		width:100%;
		background:#111;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
		background:#111;
	}
	
		/*** Custom Animation Styles (You can remove/add any styles below) ***/
		.circle .mosaic-overlay {
			background:url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/hover-magnify.png) no-repeat center center;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			display:none;
		}
		
		.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background: url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/bg-black.png);
		}
		
		.bar .mosaic-overlay {
			bottom:-100px;
			height:40px;
			background:url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/bg-black.png);
		}
		
		.bar2 .mosaic-overlay {
			bottom:-50px;
			height:40px;
			opacity:0.8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			filter:alpha(opacity=80);
		}
		
			.bar2 .mosaic-overlay:hover {
				opacity:1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter:alpha(opacity=100);
			}
		
		.bar3 .mosaic-overlay {
			top:-100px;
			height:100px;
			background:url(/web/20190115030054im_/http://nazarenoservicesinc.com/images/bg-black.png);
		}
		/*** End Animation Styles ***/

/*
     FILE ARCHIVED ON 03:00:54 Jan 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:25:42 Oct 31, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 259.227
  exclusion.robots: 0.131
  load_resource: 459.075
  RedisCDXSource: 20.107
  PetaboxLoader3.datanode: 275.92 (5)
  esindex: 0.011
  exclusion.robots.policy: 0.122
  LoadShardBlock: 222.743 (3)
  PetaboxLoader3.resolve: 368.432 (3)
  CDXLines.iter: 13.658 (3)
*/